/* App.css */

.text-yarnGreen {
    color: #3B5422;
  }
  
  .bg-yarnGreen {
    background-color: #3B5422;
  }
  
  /* Add more utility-style classes if needed */
  .border-yarnGreen {
    border-color: #3B5422;
  }

  .text-fontGreen {
    color: #123524;
  }
  .bg-hero-gradient {
    background: linear-gradient(to bottom, #FFFBDD 35%, #FEF6B7 40%);
  }
  @keyframes drawLine {
    to {
      stroke-dashoffset: 0;
    }
  }